# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Flask
instance/
.webassets-cache

# Environment variables
.env

# Database
*.db
*.sqlite3

# Logs
*.log

# VS Code
.vscode/

# Mac
.DS_Store